[class*="col-"] {
    display: flex;
}

.content {
    background-color: #006CFA;
    padding: 10px;
    width: 100%;
    margin: 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #00E165;
}

.margin-20 {
    margin: 20px 0px;
}

.inner-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 1px;
}
