body {
    background-color: rgb(165, 164, 164);
}

[class*="col-"] {
    height: calc(100vw / 12);
}


.black {
    background-color: black;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}